<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
      <%# <div class="card shadow"> %>
        <div class="card-body">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            </div>
            <div class="mb-3 ml-3 mr-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" id="price" required aria-label="price" placeholder="0.00" name="campground[price]" aria-describedby="price-label">
                </div>
            </div>

            <div class="mb-3 ml-3 mr-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 ml-3 mr-3">
             <div class="form-file custom-file">
                 <input type="file" class="form-file-input" id="image" name="image" multiple>
                 <label class="form-file-label" for="image">
                     <span class="form-file-text custom-file-label">Choose image(s)...</span>
                     <%# <div class="mb-3">
                       <span class="form-file-button">Browse</span>
                     </div> %>

                 </label>
             </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
    <%# </div> %>
    </div>
</div>
